// src/components/common/Loader/Loader.module.scss
@import '../../../styles/variables';
@import '../../../styles/mixins';

.loaderContainer {
  @include flex-center;
  flex-direction: column;
  padding: $padding-lg;
  text-align: center;
  min-height: 150px; // Минимальная высота, чтобы лоадер не "прыгал"
}

.spinner {
  border: 4px solid rgba($primary-color, 0.2); // Более тонкая и прозрачная граница
  border-top-color: $primary-color; // Основной цвет сверху
  border-radius: 50%;
  width: 50px; // Чуть больше
  height: 50px;
  animation: spin 1s cubic-bezier(0.5, 0, 0.5, 1) infinite; // Более плавное вращение
  margin-bottom: $spacing-unit * 2;
}

.loadingText {
  font-size: $font-size-base * 1.1;
  color: $text-color;
  font-weight: 600;
}
