


@import '../../../../styles/mixins';
@import '../../../../styles/variables';


.header {
  @include flex-center; 
  justify-content: center; 
  padding: $spacing-unit * 3 $spacing-unit * 4; 
  background-color: var(--card-background); 
  color: var(--text-color); 
  box-shadow: $box-shadow-light; 

  @include respond-to('small') {
    padding: $spacing-unit * 2 $spacing-unit * 2; 
  }
}

.container {
  @include flex-center;
  justify-content: space-between; 
  width: 100%; 
  max-width: $max-width-desktop; 
}

.title { 
  font-size: 26px;
  font-weight: 700;
  color: var(--text-color); 
}

.themeButton {
  @include flex-center;
  gap: $spacing-unit; 
  background: none;
  border: none;
  cursor: pointer;
  color: var(--light-text); 
  font-weight: 700;
  font-size: $font-size-base;
  text-transform: uppercase;
  transition: color 0.2s ease;

  &:hover {
    color: var(--accent-color); 
  }


  svg {
    font-size: 1.2rem; 
    transition: transform 0.2s ease;
  }


  &:active svg {
    transform: scale(0.9);
  }
}
